@use 'variables';
@use 'reload';
@use 'mobile';
@use 'mixins';
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: variables.$font;
    background-color: #f0f0f0;
    
}


.nav{
    padding: 40px 30px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    justify-content: space-between;
    
    .cerrar-menu{
        display: none;
        cursor: pointer;
        z-index: 10;
    }
    .hamburgesa{
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    .logo{
        height: 15px;
        cursor: pointer;
    }
    .menu-desktop{
        display: none;
        
    }
    .menu-mobile{
        display: none;
        flex-direction: column;
        width: 80%;
        position: absolute;
        top: 80px;
        left: 10%;
        text-align: left;
        // padding: 18px;
        background-color: gray;
        border-radius: 7px;
        z-index: 10;
        a{
            text-decoration: none;
            color: variables.$Black;
            font-family: variables.$font;
            font-weight: 500;
            padding: 15px;
            background-color: white;
            margin-bottom: 1px;
            cursor: pointer;
            
        }
        .uno{
            border-radius: 7px 7px 0 0;
        }
        .tres{
            border-radius: 0 0 7px 7px;
            margin-bottom: 0;
        }

        
        }
    


}

.imagen-desktop{
    display: none;
}

.imagen-mobile{
    width: 100vw;
    height: 100%;
    
}


.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
    position: relative;
    gap: 30px;
    
    
    .principal{
        
        @include mixins.fondo;
        position:absolute;
        display: flex;
        
        top: -30px;
        .principal_logo{
            position: absolute;
            top: -25px;
        }

        h1{
            
            text-align: center;
            font-size: 1.2em;
            margin: 20px 20px 5px 20px;
            color: variables.$Black;
        }
        p{
            text-align: center;
            line-height: 1.5;
            font-size: 0.8em;
            margin: 0 10px 0 10px;
            color: variables.$Dark-gray;

        }

        .botonera{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 10px;

            button{
                padding: 15px 50px;
                border-radius: 50px;
                border: none;
                font-family: variables.$font;
                color: white;
                background-color: variables.$Moderate-cyan;
                cursor: pointer;
            }
            button:hover{
                background-color: variables.$Dark-cyan;
            }
            .bookmark{
                cursor: pointer;
                p{
                    display: none;
                }
                .book-sel{
                    display: none
                }
            }
            .bookmarked{
                display: none
            }
            .bookmarkedOff{
                display: flex;
            }
            .bookmarked-sel{
                transition: all 5ms ease-in;
                p{
                    display: none;
                }
                .book-sel{
                    display: none;
                    color: variables.$Moderate-cyan;
                    background-color: rgb(240, 239, 239);
                    
                }
                img{
                    display: none;
                }
                .bookmarked{
                    display: flex;
                    
                }

        }
            
        }
    
    }

    .segunda{
        
        @include mixins.fondo;
        
        position: absolute;
        text-align: center;
        top: 240px;
        .estadisticas{
            display: flex;
            flex-direction: column;
            gap: 20px;
            h2{
                font-size: 1.3em;
            }

            p{
                font-size: 0.7em;
                color: variables.$Dark-gray;
                margin-top: 7px;
            }

            hr{
                width: 50px;
                height: 1px;
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
                margin: 0 auto;
            }
        }

        .barra{
            margin: 30px 0;
            width: 90%;
            height: 10px;
            background-color: rgb(230, 230, 230);
            border-radius: 20px;
            .color-barra{
                width: 80%;
                height: 10px;
                background-color: variables.$Moderate-cyan;
                border-radius: 20px;
            }
        }
    }

    .about{
        @include mixins.fondo;
        position:absolute;
        top: 620px;
        align-items: start;
        padding: 35px;
        h3{
            color: variables.$Black;
            margin: 20px 0;
        }
        p{
            font-size: 0.8em;
            line-height: 1.5;
            color: variables.$Dark-gray;
            margin-right: 12px;
        }

        .secciones-about{
            margin: 10px 0;
            padding: 10px 20px;
            border: 1px solid rgba($color: #000000, $alpha: 0.2);
            border-radius: 10px;
            .titulo{
                h3{
                    font-size: 0.9em;
                    cursor: pointer;
                }
                h3:hover{
                    color: variables.$Moderate-cyan;
                }
                p{
                    color: variables.$Moderate-cyan;
                    font-weight: 700;
                    margin-top: -15px;
                    cursor: pointer;
                }
            }

            .texto{
                margin: 15px 0;
                font-weight: 500;
                color: variables.$Dark-gray;
                font-size: 1em;
                
            }

            .foot{
                margin: 20px 0;
                .foot-text{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    p{
                        color: variables.$Black;
                        font-size: 1.8em;
                        font-weight: 700;
                        font-family: variables.$font;
                        
                    }
                    .left{
                        font-size: 0.8em;
                        font-weight: 500;
                        color: variables.$Dark-gray;
                        margin-left: -5px;
                        
                    }
                }
            }
            button{
                margin: 20px 0;
                margin-bottom: 1px;
                padding: 15px 35px;
                font-size: 0.8em;
                font-family: variables.$font;
                font-weight: 500;
                color: white;
                background-color: variables.$Moderate-cyan;
                border: none;
                border-radius: 40px;
                cursor: pointer;
            }
            button:hover{
                background-color: variables.$Dark-cyan;
            }
            
        }

        .desabilitado{
            *{opacity: 0.6;}
            button{
                background-color: gray;
                
            }
        }
    }
}


.back-project{
    
    
    position:absolute;
    top: 130px;
    @include mixins.fondo;
    display: none;
    z-index: 10;
    align-items:start;
    .titulo-back{
        
        display: flex;
        width: 100%;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        h2{
            font-size: 1.1em;
            font-weight: 600;
        }
        img{
            width: 13px;
            height: 13px;
            cursor: pointer;
        }
        
    }
    p{
        text-align: left;
        color: variables.$Dark-gray;
        font-size: 0.9em;
        padding: 0;
        margin: 10px 0;
        
        line-height: 1.5;
    }

    .pledge{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
        border-radius: 10px;
        
        .sec-1{
            margin: 10px 0;
            display: flex;
            #seleccion{
                margin-right: 20px;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
            h3{
                font-size: 0.9em;
                cursor: pointer;
            }
            h3:hover{
                color: variables.$Moderate-cyan;
            }
        }
        .texto{
            font-size: 0.9em;
            line-height: 1.5;
            margin: 10px 40px 5px 0;
        
        }
    }
    .desabilitado{
        *{opacity: 0.6;}
        button{
            background-color: gray;
        }
    }
    
    .elegir{
        
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
        border-radius: 10px;
        .sec-1{
            
            margin: 10px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            #seleccion{
                border-radius: 50%;
                color: red;
                margin-right: 20px;
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
            .txt{
                display: flex;
                flex-direction: column;
                justify-content:center;
                align-items: start;
                padding: 5px 0;
                cursor: pointer;
                h3{
                    font-size: 0.9em;
                    margin-bottom: -3px;
                }
                h3:hover{
                    color: variables.$Moderate-cyan;
                }
                .valor-span{
                    color: variables.$Moderate-cyan;
                    font-size: 0.7em;
                    margin-bottom: -3px;
                    font-weight: 600;
                    
                }
            }
            .left-top{
                display: none;
            } 
            
        }
        .texto{
            font-size: 1em;
            line-height: 1.5;
            margin: 5px 20px 5px 0;
        }
        .left{
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                font-size: 0.9em;
                color: #000000;
                margin-right: 5px;
                font-weight: 600;
            }
            .dias{
                color: variables.$Dark-gray;
                font-size: 0.7em;
                font-weight: normal;
            }
        }
        
        .seleccionado{
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            hr{
                width: 116%;
                height: 0.01em;
                color: rgba($color: #000000, $alpha: 0.1);
            }

            .opciones{
                width: 100%;
                .texto-opciones{
                    margin: 20px auto;
                    p{
                        text-align: center;
                        font-size: 0.8em;
                        font-weight: 500;
                        font-family: variables.$font;
                        color: variables.$Dark-gray
                    }
                }

                .botones-opciones{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 100%;
                    position: relative;
                    .precio{
                        
                        border-radius: 40px;
                        border: none;
                        border: 1px solid rgba($color: #000000, $alpha: 0.2);
                        padding-left: 50px;
                        width: 100px;
                        height: 50px;
                        position: relative;
                        color: #000000;
                        font-family: variables.$font;
                        font-weight: 700;
                        outline: none;
                        
                    }
                    
                    .signo{
                        position:absolute;
                        margin-right:170px ;
                        top: 4px;
                        font-family: variables.$font;
                        z-index: 10;
                    }

                    button{
                        padding: 15px 30px;
                        border-radius: 30px;
                        border: none;
                        background-color: variables.$Moderate-cyan;
                        color: white;
                        font-family: variables.$font;
                        font-weight: 500;
                        cursor: pointer;
                    }
                    button:hover{
                        background-color: variables.$Dark-cyan;
                    }
                }
            }

        }
        
    }
    .activo{
        border-color: variables.$Moderate-cyan;
        
        
            .seleccionado{
                display: flex
            }
        
    }
}

.alerta{
    @include mixins.fondo;
    display: none;
    position:absolute;
    z-index: 10;
    top: 130px;
    img{
        margin: 10px 0;
    }

    h3{
        font-size: 1.2em;
        font-weight: 600;
        margin: 10px 0;
    }
    p{
        text-align: center;
        line-height: 1.6;
        font-size: 0.9em;
        color: variables.$Dark-gray;
    }
    
    button{
        margin: 20px 0;
        padding: 15px 35px;
        border-radius: 30px;
        border: none;
        background-color: variables.$Moderate-cyan;
        color: white;
        font-family: variables.$font;
        font-weight: 500;
        cursor: pointer;
    }
    button:hover{
        background-color: variables.$Dark-cyan;
    }
    
}
.capa{
    
    width: 100%;
    height: 2100px;
    position: absolute;
    left: 0;
    top: 0;
    
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: none;
}

@media screen and (min-width:460px) {
    .container{
        margin-top: -100px;
        
        .segunda{
            margin-top: -40px;
        }
        .about{
            margin-top: -30px;
        }
}}
@media screen and (min-width:560px) {

    .container{
        margin-top: 10px;
        .segunda{
            margin-top: -50px;
        }
        .about{
            margin-top: -40px;
        }
    }
    .imagen-mobile{
        display: none;
    }
    .imagen-desktop{
        display:flex;
        width: 100%;
    }
}

@media screen and (min-width:760px) {

    .nav{
        align-items: center;
        .hamburgesa{
            display: none;
        }
        .logo{
            height: 30px;
        }
        .menu-desktop{
            display: flex;
            margin-right: 30px;
            gap: 15px;
            a{
                text-decoration: none;
                color: white;
                font-family: variables.$font;
                font-weight: 500;
                
                font-size: 1.2em;
                margin-bottom: 1px;
                cursor: pointer;
                
            }
            a:hover{
                text-shadow: 0 0 10px rgba($color: #ffffff, $alpha: 1.0);
            }
        }



    }
    
    

    .container{
        max-width: 760px;
        margin-top: -20px;
        .principal{
            padding: 20px 40px;
            
            .principal_logo{
                width: 80px;
                top: -40px;
            }
            h1{
                margin-top: 40px;
                font-size: 1.6em;
            }
            p{
                font-size: 1.1em;
            }
            .botonera{
                margin: 10px 0;
                justify-content: space-between;
                button{
                    padding: 16px 50px;
                    font-size: 1.2em;
                };
                .bookmark{
                    display: flex;
                    justify-items: center;
                    align-items: center;
                    img{
                        z-index: 1;
                        width: 60px;
                    }

                        p{
                            font-size: 1em;
                            font-family: variables.$font;
                            font-weight: 600;
                            margin-left: -15px;
                            color: #000000;
                            display: flex;
                            background-color: rgb(206, 206, 206);
                            padding: 15px 30px;
                            border-radius: 0 30px 30px 0;
                        }
                        
                }
                .bookmarked-sel{
                        transition: all 5ms ease-in;
                        p{
                            display: none;
                        }
                        .book-sel{
                            display: flex;
                            color: variables.$Moderate-cyan;
                            background-color: rgb(240, 239, 239);
                            
                        }
                        img{
                            display: none;
                        }
                        .bookmarked{
                            display: flex;
                            
                        }

                }
            }
        }
        .segunda{
            margin-top: 10px;
            text-align: left;
            justify-content: start;
            .estadisticas{
                width: 80%;
                flex-direction: row;
                justify-content:stretch;
                align-items: center;
                margin: 20px 0;
                margin-left: -60px;
                text-align: left;
                gap: -20px;
                h2{
                    font-size: 1.5em;
                }
                p{
                    font-size: 0.9em;
                }
                hr{
                    rotate: 90deg;
                    
                }
            }
            .barra{
                height: 15px;
                .color-barra{
                    height: 15px;
                }
            }
        }

        .about{
            top: 550px;
            h3{
                font-size: 1.5em;
            }

            p{
                font-size: 0.95em;
                margin-right: 20px;
                line-height: 2;
                
            }

            .secciones-about{
                .titulo{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h3{
                        font-size: 1.2em;
                    }
                    p{
                        margin-top: 0;
                        font-size: 0.9em;
                    }
                }

                .texto{
                    p{
                        font-size: 1em;
                        line-height: 1.8;
                        padding: 0;
                        margin: 0;
                    }
                }

                .foot{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                button{
                    margin: 0;
                }
            }
        }

    }

    .back-project{
        max-width: 690px;
        padding: 40px;
        display: none;
        gap: 30px;
        .titulo-back{
            
            h2{
                font-size: 1.5em;
            }
            img{
                width: 15px;
                height: 15px;
                position: relative;
                left: 10px;
                top: -20px;
            }
        }
        p{
            font-size: 1em;
        }

        .pledge{
            .sec-1{
                #seleccion{
                    margin-top: 3px;
                }
                h3{
                    font-size: 1.1em;
                }
            }
            
            .texto{
                    font-size: 0.9em;
                    margin: -5px 0px 5px 40px;
                }
            
        }
        .elegir{

            
            .sec-1{
                #seleccion{
                    margin-top: 7px;
                }
                width: 100%;
                justify-content: start;
                align-items: center;
                .txt{

                    flex-direction: row;
                    gap: 20px;
                    justify-content: center;
                    align-items: center;
                    h3{
                        margin-top: 1px;
                        font-size: 1.1em;
                    }
                    .valor-span{
                        margin-bottom: 0;
                        font-size: 0.8em;
                    }
                }
                .left-top{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    position: relative;
                    p{
                        font-size: 1.3em;
                        color: #000000;
                        margin-right: 5px;
                        font-weight: 600;
                    }
                    .dias{
                        color: variables.$Dark-gray;
                        margin-top: 14px;
                        font-size: 0.9em;
                        font-weight: normal;
                    }
                }
                .lt-1{
                    left: 180px;
                }
                .lt-2{
                    left: 150px;
                }
                .lt-3{
                    left: 95px;
                }
            }
            .texto{
                margin: -5px 0px 5px 40px;
                font-size: 0.9em;
                text-align: justify;
            }
            .left{
                display: none;
            }

            .seleccionado{
                display: none;
                width: 100%;
                
                hr{
                    width: 107%;
                }
                .opciones{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 20px;
                    
                    .texto-opciones{
                        margin: 0;
                        p{
                            font-size: 1em;
                            width: 200px;
                            margin-left: -30px;
                        }
                        
                    }
                    .botones-opciones{
                        justify-content: end;
                        gap: 10px;
                        .signo{
                            margin-right: 200px;
                            top: 3px;
                        }
                        .precio{
                            font-size: 1.1em;
                        }
                        button{
                            font-size: 1em;
                        }
                    }
                }
            }
            
        }
        .activo{
            border-color: variables.$Moderate-cyan;
            
                .seleccionado{
                    display: flex
                }
            
        }
    }

    .alerta{
        display: none;
        max-width: 500px;
        top: 300px;

        img{
            width: 90px;
            height: 90px;
        }

        h3{
            font-size: 1.3em;
        }

        p{
            font-size: 1em;
            line-height: 1.8;
            margin: 10px 10px;
            text-align: center;
        }

        button{
            padding: 20px 45px;
            font-size: 1.2em;
        }
    }
}

@media screen and (min-width:1024px) {
    .nav{
        width: 90%;
    }
    .container{
        margin-top: -100px;
    }
    
    .back-project{
        display: none;
        top: 200px;
        
    }
    
    .alerta{
        display: none;
        top: 200px;
    }
}

